.list-description{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - var(--filter-w));
  line-height: 1.4;
  color: var(--gray-70);
  white-space: pre-wrap;
}

.list-description output{
  text-transform: uppercase;
  font-weight: bold;
  background-color: hsl(0 0 0 / .5);
  padding: var(--padding-xs) var(--padding-sm);
  color: var(--gray-90);
}

.movies-list {
  display: grid;
  gap: var(--padding-md);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
  width: calc(100% - var(--filter-w));
  list-style: none;
}

.movies-filter {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, var(--blue-30), var(--blue-10));
  transition: transform .2s ease-out, opacity .2s ease-out;
  z-index: 1;
  overflow-y: auto;
  height: 100vh;
  top: 0;
  right: 0;
}

.movies-filter[hidden] {
  transform: translateX(50%);
  opacity: 0;
  z-index: -1;
}

[desktop] .movies-filter{
  width: clamp(var(--min-width), 40vw, 640px);
  transform: none;
  opacity: 1;
  border-left: 2px solid black;
  background: none;
  z-index: 1;
}

fieldset {
  padding: var(--padding-md) var(--padding-lg);
}

fieldset > :first-child {
  color: var(--yellow-50);
}

fieldset{
  border-bottom: 2px solid black;
}

details {
  border-bottom: 2px solid black;
}

details[open] {
  border: none;
}

summary {
  font: var(--h3-font);
  color: var(--blue-90);
}

button[type="submit"] {
  margin: var(--padding-lg);
}

.filter-toggle {
  position: sticky;
  bottom: var(--padding-md);
  width: calc(100vw - var(--padding-md) * 2);
  margin-top: var(--padding-md);
}

[desktop] .filter-toggle {
  display: none;
}