.list-description{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font: var(--h3-font);
  line-height: 1.4;
  color: var(--gray-70);
  white-space: pre-wrap;
}

.list-description output{
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(0 0 0 / .5);
  padding: var(--padding-xs) var(--padding-sm);
  color: var(--gray-90);
}

.movie-list {
  display: grid;
  gap: var(--padding-md);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
  list-style: none;
}

.filter-panel {
  position: fixed;
  background: linear-gradient(45deg, var(--blue-30), var(--blue-10));
  transition: transform .2s;
  z-index: 1;
  overflow-y: auto;
  top: var(--header-bottom);
  bottom: 0;
  left: 0;
  width: 100vw;
}

.filter-panel.hidden {
  transform: translateY(100%);
  pointer-events: none;
}

.filter-panel > form{
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto;
}

fieldset {
  padding: var(--padding-md) var(--padding-lg);
  border-bottom: 2px solid var(--blue-30);
}

fieldset > h3 {
  color: var(--blue-90);
}

fieldset:last-of-type{
  border-bottom: none;
}

fieldset:last-of-type > button{
  width: min(100%, 640px);
  margin: auto;
  display: block;
}

.filter-toggle {
  position: sticky;
  bottom: var(--padding-md);
  width: min(100%, 640px);
  margin: var(--padding-md) auto 0;
  display: block;
}