.movies-list {
  display: grid;
  gap: var(--padding-md);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
  width: calc(100% - var(--filter-w));
  padding: var(--padding-md);
  list-style: none;
}

.movies-filter {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, var(--blue-30), var(--blue-10));
  transition: transform .2s ease-out, opacity .2s ease-out;
  z-index: 1;
  overflow-y: auto;
  height: 100vh;
  top: 0;
  right: 0;
}

.movies-filter[hidden] {
  transform: translateX(50%);
  opacity: 0;
  z-index: -1;
}

[desktop] .movies-filter{
  width: clamp(var(--min-width), 40vw, 640px);
  transform: none;
  opacity: 1;
  border-left: 2px solid black;
  background: none;
  z-index: 1;
}

header {
  padding: var(--padding-sm) var(--padding-lg) 0;
}

fieldset {
  padding: var(--padding-md) var(--padding-lg);
}

fieldset > :first-child {
  color: var(--yellow-50);
}

fieldset{
  border-bottom: 2px solid black;
}

details {
  border-bottom: 2px solid black;
}

details[open] {
  border: none;
}

summary {
  font: var(--h3-font);
  color: var(--blue-90);
}

button[type="submit"] {
  margin: var(--padding-lg);
}

.filter-toggle {
  position: fixed;
  bottom: var(--padding-lg);
  left: var(--padding-lg);
  width: calc(100vw - var(--padding-lg) * 2);
}

[desktop] .filter-toggle {
  display: none;
}