main {
  max-width: var(--max-width);
  margin: auto;
  background: var(--blue-30);
  border-radius: var(--border-radius);
  box-shadow: 0 0 12px black;
  overflow: hidden;
}

figure {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: filter .3s ease-out;
}

figure button{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

figure button > img{
  width: max(8%, 80px);
  height: auto;
  filter: drop-shadow(0 0 24px white);
  mix-blend-mode: hard-light;
}

figure iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}

figure[data-trailer-active] img {
  filter: brightness(0);
}

figure[data-trailer-active] button {
  display: none;
}

figure[data-trailer-active] iframe[src] {
  display: block;
  animation: fade-in 2s ease-in forwards;
}

article {
  padding: var(--padding-lg);
}

header{
  position: relative;
  margin-bottom: var(--padding-lg);
}

h1 {
  border-bottom: 2px solid var(--blue-10);
  padding-bottom: var(--padding-sm);
  margin: 0 0 var(--padding-sm);
  padding-right: 100px;
}

score-badge{
  position: absolute;
  top: -16px;
  right: -16px;
  width: 90px;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / .5));
}

label {
  color: var(--blue-90);
  margin-right: var(--padding-sm);
}

.details {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 24px;
  overflow: hidden;
  color: var(--blue-90);
}

.details li {
  position: relative;
}

.details li:empty {
  display: none;
}

.details li::before {
  position: absolute;
  top: 0;
  left: -16px;
  content: '·';
}

.genres {
  max-width: 100%;
}

.genres p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.providers > p {
  display: inline-block;
}

.providers ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--padding-md);
  list-style: none;
  margin-top: var(--padding-sm);
}

.providers li {
  flex-basis: calc(( 640px - 100vw) * 999);
  white-space: nowrap;
  line-height: 20px;
}

.providers img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: text-bottom;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-md);
  margin-bottom: var(--padding-lg);
}

.quotes:empty {
  display: none;
}

.quotes > * {
  flex-grow: 1;
  flex-basis: calc(( 900px - 100%) * 999);
}

.quotes blockquote{
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  padding: var(--padding-md);
  justify-content: space-evenly;
  background-color: rgb(0 0 0 / .2);
  border-radius: var(--border-radius);
}

.quotes blockquote p{
  position: relative;
  font-style: italic;
  text-indent: 2rem;
}

.quotes blockquote p::before{
  content: '“';
  position: absolute;
  top: -1rem;
  left: -.5rem;
  font-size: 6rem;
  color: hsl(0 0% 100% / .1);
  line-height: 1;
  text-indent: initial;
  font-style: normal;
}

.quotes blockquote cite{
  color: var(--blue-90);
  align-self: end;
}

.quotes blockquote cite::before{
  content: '– ';
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
