@view-transition {
  navigation: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  height: 100%;
  min-width: var(--min-width);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html:has(.filter-panel.visible){
  overflow-y: hidden;
}

body {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 var(--padding-md);
  font: normal 1rem/1.5 Inter, Inter-fallback, sans-serif;
  background-color: var(--blue-10);
  background-image: radial-gradient(circle, transparent 1000px, rgb(0 0 0 / .33)), url('../images/irongrip-dark-blue.webp');
  color: var(--gray-90);
}

header.primary{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  background-color: var(--blue-10);
  background-image: radial-gradient(ellipse at top, rgba(155, 200, 255, 0.2), transparent 75%), url('../images/irongrip-dark-blue.webp');
  box-shadow: inset 0 -2px black, 0 0 6px black;
  transition: transform .3s cubic-bezier(0,.25,.25,1);
  ;
}

[data-scroll-dir="down"]:not(:has(.filter-panel.visible)) header.primary{
  transform: translateY(-110%);
  transition-timing-function: ease-in;
}

header.primary > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  width: min(100%, var(--max-width));
  margin: auto;
  padding: var(--padding-md) var(--padding-md) 0;
}

.mobile header.primary > div{
  flex-direction: column;
  align-items: center;
}

header.primary .logo{
  display: block;
  height: 50px;
  mix-blend-mode: hard-light;
  margin-bottom: var(--padding-sm);
}

nav.primary a{
  display: inline-flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: var(--gray-90);
  padding: 0 var(--padding-sm) var(--padding-sm) 0;
  border-radius: 2px;
  transition: color .3s;
}

nav.primary a::before{
  content: '';
  display: inline-block;
  height: 20px;
  aspect-ratio: 1;
  object-fit: contain;
  background-color: currentColor;
  -webkit-mask: var(--icon-url) no-repeat;
  mask: var(--icon-url) no-repeat;
}

nav.primary a:hover{
  color: var(--blue-90);
}

nav.primary a.current{
  color: var(--gray-90);
  animation: nav-item-current .4s ease-out forwards;
  pointer-events: none;
  cursor: default;
}

body > main{
  position: relative;
  margin-top: var(--header-height);
  padding-top: var(--padding-md);
}

body > main::before{
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  width: 100vw;
  border-top: 4px solid black;
  border-bottom: 1px solid white;
  mix-blend-mode: soft-light;
}

h1 {
  font: var(--h1-font);
  margin: var(--padding-md) 0;
  line-height: 1.2;
  color: white;
}

h2 {
  font: var(--h2-font);
  margin: var(--padding-md) 0;
}

h3 {
  font: var(--h3-font);
  margin: var(--padding-md) 0;
}

h4 {
  font: var(--h4-font);
  margin: var(--padding-md) 0;
}

p {
  margin: var(--padding-sm) 0 0;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: 1px underline;
  text-underline-position: under;
}

button,
.button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: var(--border-radius);
}

button.primary,
.button.primary {
  padding: var(--padding-md);
  color: var(--gray-90);
  background: var(--blue-50);
  box-shadow: 2px 2px 6px -2px #0008;
  transition: filter .3s;
}

button.secondary,
.button.secondary {
  padding: var(--padding-md);
  color: var(--gray-90);
  background: var(--gray-30);
  box-shadow: 2px 2px 6px -2px #0008;
  transition: filter .3s;
}

button.primary:enabled:hover,
button.secondary:enabled:hover,
.button.primary:enabled:hover,
.button.secondary:enabled:hover {
  filter: brightness(1.3);
}

summary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lg);
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none; /* Safari 16 */
}

summary::after {
  content: '';
  width: 12px;
  height: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg) translate(-3px, -3px);
  transition: transform 0.2s ease-out;
  margin-right: 3px;
}

details[open] > summary::after {
  transform: rotate(45deg) translate(3px, 3px) scale(-1);
}

fieldset {
  border: none;
}

label.pill {
  border-radius: 50px;
  border: 2px solid var(--blue-50);
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

label.pill input {
  display: none;
}

label.pill span{
  display: inline-block;
  padding: var(--padding-sm) var(--padding-md);
  box-shadow: inset 0 0 0 0 var(--green-50);
  transition: box-shadow .2s ease-out;
}

label.pill input:checked + span{
  box-shadow: inset 0 0 24px 24px var(--green-50);
}

label.range {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
}

input[type="search"]{
  border-radius: 50px;
  border: 2px solid var(--blue-50);
  width: min(100%, 480px);
  padding: var(--padding-sm) var(--padding-md);
  outline: none;
  background-color: var(--blue-10);
  color: white;
  font: inherit;
}

input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='gray'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
  margin: 0;
}

input[type="range"] {
  appearance: none;
  background: linear-gradient(var(--blue-50), var(--blue-50)) no-repeat 50% 50% / 100% 2px;
  height: var(--range-h);
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--blue-50);
  height: var(--range-h);
  width: 12px;
  border-radius: 12px;
  background: var(--green-50);
  cursor: pointer;
  box-shadow: 1px 1px 2px #0008;
}

input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  border: 1px solid var(--blue-50);
  height: var(--range-h);
  width: 12px;
  border-radius: 12px;
  background: var(--green-50);
  cursor: pointer;
  box-shadow: 1px 1px 2px #0008;
}

@keyframes fade-in {
  to {
    opacity: 1;
    filter: none;
  }
}

@keyframes nav-item-current {
  from{
    box-shadow: 0 4px 0 transparent, inset 0 -12px 12px -10px transparent, 0 8px 6px -2px transparent;
  }
  to{
    box-shadow: 0 4px 0 var(--blue-90), inset 0 -12px 12px -10px var(--blue-50), 0 8px 6px -2px var(--blue-50);
  }
}