* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  height: 100%;
  min-width: var(--min-width);
  overflow-x: hidden;
}

body {
  min-height: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding-md);
  font: normal 1rem/1.5 Inter, Inter-fallback, sans-serif;
  background-color: var(--blue-10);
  background-image: radial-gradient(circle, transparent 1000px, rgba(0 0 0 / .4)), url('../images/irongrip-dark-blue.webp');
  color: var(--gray-90);
}

body > header{
  margin: 0 auto var(--padding-md);
  height: 50px;
}

body > header .logo{
  height: 100%;
}

h1 {
  font: var(--h1-font);
  margin: var(--padding-md) 0;
  line-height: 1.2;
  color: white;
}

h2 {
  font: var(--h2-font);
  margin: var(--padding-md) 0;
}

h3 {
  font: var(--h3-font);
  margin: var(--padding-md) 0;
}

h4 {
  font: var(--h4-font);
  margin: var(--padding-md) 0;
}

p {
  margin: var(--padding-sm) 0 0;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: 1px underline;
  text-underline-position: under;
}

img{
  max-width: 100%;
  max-height: 100%;
}

button,
.button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: var(--border-radius);
}

button.primary,
.button.primary {
  padding: var(--padding-md);
  color: var(--gray-90);
  background: var(--blue-50);
  box-shadow: 2px 2px 6px -2px #0008;
  transition: filter .3s;
}

button.primary:enabled:hover,
.button.primary:enabled:hover {
  filter: brightness(1.3);
}

summary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lg);
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none; /* Safari 16 */
}

summary::after {
  content: '';
  width: 12px;
  height: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg) translate(-3px, -3px);
  transition: transform 0.2s ease-out;
  margin-right: 3px;
}

details[open] > summary::after {
  transform: rotate(45deg) translate(3px, 3px) scale(-1);
}

fieldset {
  border: none;
}

label.pill {
  border-radius: 50px;
  border: 2px solid var(--blue-50);
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

label.pill input {
  display: none;
}

label.pill span{
  display: inline-block;
  padding: var(--padding-sm) var(--padding-md);
  box-shadow: inset 0 0 0 0 var(--green-50);
  transition: box-shadow .2s ease-out;
}

label.pill input:checked + span{
  box-shadow: inset 0 0 24px 24px var(--green-50);
}

label.range {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
}

input[type="range"] {
  appearance: none;
  background: linear-gradient(var(--blue-50), var(--blue-50)) no-repeat 50% 50% / 100% 2px;
  height: var(--range-h);
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--blue-50);
  height: var(--range-h);
  width: 12px;
  border-radius: 12px;
  background: var(--green-50);
  cursor: pointer;
  box-shadow: 1px 1px 2px #0008;
}

input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  border: 1px solid var(--blue-50);
  height: var(--range-h);
  width: 12px;
  border-radius: 12px;
  background: var(--green-50);
  cursor: pointer;
  box-shadow: 1px 1px 2px #0008;
}
