.loading {
  display: inline-block;
}

.loading::after {
  content: "";
  display: inline-block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-rotate 1.2s linear infinite;
  height: 16px;
  box-sizing: border-box;
  vertical-align: middle;
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
