:root{
  --multiplier: 1;
  --min-width: 360px;
  --max-width: 1200px;
  --mobile-breakpoint: 1024px;
  --border-radius: 6px;
  --checkbox-w: 20px;
  --range-h: 36px;
  --padding-sm: calc(8px * var(--multiplier));
  --padding-md: calc(16px * var(--multiplier));
  --padding-lg: calc(32px * var(--multiplier));
  --padding-xl: calc(64px * var(--multiplier));
  --gap: calc(32px * var(--multiplier));

  --h1-font: 500 2.5rem/1 'Barlow Semi Condensed','Inter', sans-serif;
  --h2-font: 500 1.75rem/1 'Barlow Semi Condensed','Inter', sans-serif;
  --h3-font: normal 1.25rem/1 'Barlow Semi Condensed','Inter', sans-serif;
  --h4-font: 500 1.125rem/1.2 'Inter', sans-serif;
  --small-font: normal .875rem/1.2 'Inter', sans-serif;

  --blue-10: #20232b;
  --blue-30: #3b444f;
  --blue-50: #3e79b4;
  --blue-90: #a9c6e3;
  --red-50: #935851;
  --yellow-50: #9d9041;
  --green-50: #3d9e7c;
  --gray-90: #edeae0;
  --gray-50: #808080;
}

@media (width <= 1024px) {
  :root {
    --multiplier: 0.75;
  }
}